@using Microsoft.AspNetCore.Components
@using ProjectManager.Models

<table class="table">
    <thead>
        <tr>
            <th>
                Number
            </th>
            <th>
                Title
            </th>
            <th>
                Credits
            </th>
            <th>
                Department
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Courses)
        {
            <tr>
                <td>
                    @item.CourseId
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Credits
                </td>
                <td>
                    @item.DepartmentName
                </td>
                <td>
                    <a href="Courses/Edit/@item.CourseId">Edit</a> |
                    <a href="Courses/Details/@item.CourseId">Details</a> |
                    <a href="Courses/Delete/@item.CourseId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter] public IEnumerable<Course> Courses { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Courses = new List<Course>
        {
            new Course{CourseId = 1, Credits = 10, DepartmentName = "IT", Title = "DOTNET"},
            new Course{CourseId = 2, Credits = 20, DepartmentName = "PT", Title = "Project Managament"},
            new Course{CourseId = 3, Credits = 30, DepartmentName = "FP", Title = "Verpacken"}
        };
    }

}
